apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nibe-prometheus-exporter
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: nibe-prometheus-exporter
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
      - env:
        - name: DEVICE_SERIAL
          value: {{ .Values.nibe.device_serial | quote }}
        - name: USERNAME
          value: {{ .Values.nibe.username | quote }}
        - name: PASSWORD
          value: {{ .Values.nibe.password | quote }}
        - name: API_URL
          value: {{ .Values.nibe.api_url | quote }}
        - name: METRICS_PORT
          value: {{ .Values.metrics.port |quote }}
        image: "rehn/nibe-prometheus-exporter:{{ .Values.image.tag }}"
        imagePullPolicy: IfNotPresent
        name: nibe-prometheus-exporter
        ports:
        - containerPort: {{ .Values.metrics.port }}
          protocol: TCP
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          runAsNonRoot: true
          readOnlyRootFilesystem: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
